In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
df1 = pd.read_csv('./data/businesses.csv')

In [3]:
df2 = pd.read_csv('./data/categories.csv')

In [4]:
df3 = pd.read_csv('./data/countries.csv')

In [5]:
%load_ext sql

In [6]:
DB_NAME = 'Oldest Business'
DB_USER = "postgres"
DB_PASS = "hellosql"
DB_HOST = "localhost"
DB_PORT = "5432"

engine = create_engine(f"postgresql+psycopg2://{DB_USER}:{DB_PASS}@{DB_HOST}/{DB_NAME}")

#Table 1
TABLE_NAME = 'businessess'
with engine.connect() as conn:
    df1.to_sql(name= TABLE_NAME, con=conn,index=False, if_exists = 'replace')

print("Data successfully loaded")

Data successfully loaded

In [7]:
#Table 2
DB_NAME = 'Oldest Business'
DB_USER = "postgres"
DB_PASS = "hellosql"
DB_HOST = "localhost"
DB_PORT = "5432"


engine = create_engine(f"postgresql+psycopg2://{DB_USER}:{DB_PASS}@{DB_HOST}/{DB_NAME}")
TABLE_NAME = 'categories'
with engine.connect() as conn:
    df2.to_sql(name= TABLE_NAME, con=conn,index=False, if_exists = 'replace')

print("Data successfully loaded")

Data successfully loaded

In [8]:
#Table 3
DB_NAME = 'Oldest Business'
DB_USER = "postgres"
DB_PASS = "hellosql"
DB_HOST = "localhost"
DB_PORT = "5432"


engine = create_engine(f"postgresql+psycopg2://{DB_USER}:{DB_PASS}@{DB_HOST}/{DB_NAME}")
TABLE_NAME = 'countries'
with engine.connect() as conn:
    df3.to_sql(name= TABLE_NAME, con=conn,index=False, if_exists = 'replace')

print("Data successfully loaded")

Data successfully loaded

In [9]:
with engine.connect() as conn:
    display(pd.read_sql('SELECT * FROM businessess', conn))

                           business  year_founded category_code country_code
0                    Hamoud Boualem          1878         CAT11          DZA
1    Communauté Électrique du Bénin          1968         CAT10          BEN
2          Botswana Meat Commission          1965          CAT1          BWA
3                       Air Burkina          1967          CAT2          BFA
4                           Brarudi          1955          CAT9          BDI
..                              ...           ...           ...          ...
158                  Cafe Brasilero          1877          CAT4          URY
159                  Hacienda Chuao          1660         CAT11          VEN
160                  Australia Post          1809         CAT16          AUS
161             Bank of New Zealand          1861          CAT3          NZL
162          European Trust Company          1991          CAT3          VUT

[163 rows x 4 columns]

In [10]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [11]:
%env DATABASE_URL= postgresql+psycopg2://postgres:hellosql@localhost:5432/Oldest Business

env: DATABASE_URL=postgresql+psycopg2://postgres:hellosql@localhost:5432/Oldest Business

In [12]:
%sql SELECT * FROM countries LIMIT 10

10 rows affected.

[('AFG', 'Afghanistan', 'Asia'),
 ('AGO', 'Angola', 'Africa'),
 ('ALB', 'Albania', 'Europe'),
 ('AND', 'Andorra', 'Europe'),
 ('ARE', 'United Arab Emirates', 'Asia'),
 ('ARG', 'Argentina', 'South America'),
 ('ARM', 'Armenia', 'Asia'),
 ('ATG', 'Antigua and Barbuda', 'North America'),
 ('AUS', 'Australia', 'Oceania'),
 ('AUT', 'Austria', 'Europe')]

### 1. Select the oldest and newest founding years from the businesses table

In [13]:
%%sql SELECT MIN(year_founded) as oldest, MAX(year_founded) as newest
FROM businessess

 * postgresql+psycopg2://postgres:***@localhost:5432/Oldest Business
1 rows affected.

[(578, 1999)]

### 2. How many businesses were founded before 1000?

In [14]:
%%sql SELECT COUNT(*) 
FROM businessess 
WHERE year_founded < 1000;

 * postgresql+psycopg2://postgres:***@localhost:5432/Oldest Business
1 rows affected.

[(6,)]

### 3. Which businesses were founded before 1000?

In [15]:
%%sql SELECT *
FROM businessess 
WHERE year_founded < 1000;

 * postgresql+psycopg2://postgres:***@localhost:5432/Oldest Business
6 rows affected.

[('Kongō Gumi', 578, 'CAT6', 'JPN'),
 ('St. Peter Stifts Kulinarium', 803, 'CAT4', 'AUT'),
 ('The Royal Mint', 886, 'CAT12', 'GBR'),
 ('Monnaie de Paris\xa0', 864, 'CAT12', 'FRA'),
 ('Staffelter\xa0Hof Winery', 862, 'CAT9', 'DEU'),
 ("Sean's Bar", 900, 'CAT4', 'IRL')]

### 4. Exploring the categories

Now we know that the oldest, continuously operating company in the world is called Kongō Gumi. But was does that company do? The category codes in the businesses table aren't very helpful: the descriptions of the categories are stored in the categories table.

This is a common problem: for data storage, it's better to keep different types of data in different tables, but for analysis, you want all the data in one place. To solve this, you'll have to join the two tables together.

In [16]:
%%sql SELECT *
FROM businessess as b
JOIN categories as c
ON b.category_code = c.category_code
WHERE business = 'Kongō Gumi'

 * postgresql+psycopg2://postgres:***@localhost:5432/Oldest Business
1 rows affected.

[('Kongō Gumi', 578, 'CAT6', 'JPN', 'CAT6', 'Construction')]

### 5. Counting the categories

With that extra detail about the oldest businesses, we can see that Kongō Gumi is a construction company. In that list of six businesses, we also see a café, a winery, and a bar. The two companies recorded as "Manufacturing and Production" are both mints. That is, they produce currency.

I'm curious as to what other industries constitute the oldest companies around the world, and which industries are most common.

In [17]:
%%sql SELECT c.category, COUNT(c.category) as n
FROM businessess as b
JOIN categories as c
ON b.category_code = c.category_code
GROUP BY c.category
ORDER BY COUNT(c.category) DESC;

 * postgresql+psycopg2://postgres:***@localhost:5432/Oldest Business
19 rows affected.

[('Banking & Finance', 37),
 ('Distillers, Vintners, & Breweries', 22),
 ('Aviation & Transport', 19),
 ('Postal Service', 16),
 ('Manufacturing & Production', 15),
 ('Media', 7),
 ('Agriculture', 6),
 ('Food & Beverages', 6),
 ('Cafés, Restaurants & Bars', 6),
 ('Energy', 4),
 ('Tourism & Hotels', 4),
 ('Retail', 4),
 ('Defense', 3),
 ('Conglomerate', 3),
 ('Mining', 3),
 ('Consumer Goods', 3),
 ('Telecommunications', 2),
 ('Construction', 2),
 ('Medical', 1)]

### 6. Oldest business by continent
It looks like "Banking & Finance" is the most popular category. Maybe that's where you should aim if you want to start a thousand-year business.

One thing we haven't looked at yet is where in the world these really old businesses are. To answer these questions, we'll need to join the businesses table to the countries table. Let's start by asking how old the oldest business is on each continent.

In [18]:
%%sql SELECT b.year_founded as oldest, cn.continent
FROM businessess as b
JOIN countries as cn
ON b.country_code = cn.country_code
WHERE b.year_founded < 1000
ORDER BY  b.year_founded ASC, cn.continent;

 * postgresql+psycopg2://postgres:***@localhost:5432/Oldest Business
6 rows affected.

[(578, 'Asia'),
 (803, 'Europe'),
 (862, 'Europe'),
 (864, 'Europe'),
 (886, 'Europe'),
 (900, 'Europe')]

### 7. Joining everything for further analysis
Interesting. There's a jump in time from the older businesses in Asia and Europe to the 16th Century oldest businesses in North and South America, then to the 18th and 19th Century oldest businesses in Africa and Oceania.

As mentioned earlier, when analyzing data it's often really helpful to have all the tables you want access to joined together into a single set of results that can be analyzed further. Here, that means we need to join all three tables.

In [19]:
%%sql SELECT b.business, b.year_founded, c.category_code, c.category, cn.country_code, cn.continent
FROM categories as c
JOIN businessess as b
ON b.category_code = c.category_code
JOIN countries as cn
ON b.country_code = cn.country_code

 * postgresql+psycopg2://postgres:***@localhost:5432/Oldest Business
163 rows affected.

[('Botswana Meat Commission', 1965, 'CAT1', 'Agriculture', 'BWA', 'Africa'),
 ('Spinzar Cotton Company', 1930, 'CAT1', 'Agriculture', 'AFG', 'Asia'),
 ('Shirley Plantation', 1638, 'CAT1', 'Agriculture', 'USA', 'North America'),
 ('Cotontchad', 1971, 'CAT1', 'Agriculture', 'TCD', 'Africa'),
 ('Casa de Ganaderos', 1218, 'CAT1', 'Agriculture', 'ESP', 'Europe'),
 ('Cameroon Development Corporation', 1947, 'CAT1', 'Agriculture', 'CMR', 'Africa'),
 ('Petroleum Development Oman', 1937, 'CAT10', 'Energy', 'OMN', 'Asia'),
 ('Electricite du Laos', 1959, 'CAT10', 'Energy', 'LAO', 'Asia'),
 ('North Oil Company', 1928, 'CAT10', 'Energy', 'IRQ', 'Asia'),
 ('Communauté Électrique du Bénin', 1968, 'CAT10', 'Energy', 'BEN', 'Africa'),
 ('Corporación Multi Inversiones', 1920, 'CAT11', 'Food & Beverages', 'GTM', 'North America'),
 ('George Steuart Group', 1835, 'CAT11', 'Food & Beverages', 'LKA', 'Asia'),
 ('Hamoud Boualem', 1878, 'CAT11', 'Food & Beverages', 'DZA', 'Africa'),
 ('Hacienda Chuao', 1660, 'CAT11', 'Food & Beverages', 'VEN', 'South America'),
 ('M. M. Ispahani Limited', 1820, 'CAT11', 'Food & Beverages', 'BGD', 'Asia'),
 ('Banks DIH', 1840, 'CAT11', 'Food & Beverages', 'GUY', 'South America'),
 ('Casa da Moeda do Brasil', 1694, 'CAT12', 'Manufacturing & Production', 'BRA', 'South America'),
 ('Liwa Chemicals', 1939, 'CAT12', 'Manufacturing & Production', 'ARE', 'Asia'),
 ('Casa de Moneda de Colombia', 1621, 'CAT12', 'Manufacturing & Production', 'COL', 'South America'),
 ('Munke Mølle', 1135, 'CAT12', 'Manufacturing & Production', 'DNK', 'Europe'),
 ('Monnaie de Paris\xa0', 864, 'CAT12', 'Manufacturing & Production', 'FRA', 'Europe'),
 ('The Royal Mint', 886, 'CAT12', 'Manufacturing & Production', 'GBR', 'Europe'),
 ('Kraljevica Shipyard', 1729, 'CAT12', 'Manufacturing & Production', 'HRV', 'Europe'),
 ('Wadia Group', 1736, 'CAT12', 'Manufacturing & Production', 'IND', 'Asia'),
 ('Marinelli Bell Foundry', 1040, 'CAT12', 'Manufacturing & Production', 'ITA', 'Europe'),
 ('La Casa de Moneda de México', 1534, 'CAT12', 'Manufacturing & Production', 'MEX', 'North America'),
 ('Kremnica Mint', 1328, 'CAT12', 'Manufacturing & Production', 'SVK', 'Europe'),
 ('Skyllbergs bruk', 1346, 'CAT12', 'Manufacturing & Production', 'SWE', 'Europe'),
 ('Drohobych salt plant', 1250, 'CAT12', 'Manufacturing & Production', 'UKR', 'Europe'),
 ('Tashkent Aviation Production Association', 1932, 'CAT12', 'Manufacturing & Production', 'UZB', 'Asia'),
 ('Premier FMCG', 1820, 'CAT12', 'Manufacturing & Production', 'ZAF', 'Africa'),
 ('Office de Radiodiffusion-Télévision du Mali', 1957, 'CAT13', 'Media', 'MLI', 'Africa'),
 ('Malawi Broadcasting Corporation', 1964, 'CAT13', 'Media', 'MWI', 'Africa'),
 ('Radio Mogadishu', 1943, 'CAT13', 'Media', 'SOM', 'Africa'),
 ('Meridian Corporation', 1999, 'CAT13', 'Media', 'XK', 'Europe'),
 ('Office of Radio and Television of Niger', 1960, 'CAT13', 'Media', 'NER', 'Africa'),
 ('The Chronicle (Dominica)', 1909, 'CAT13', 'Media', 'DMA', 'North America'),
 ('Mongolian National Broadcaster', 1931, 'CAT13', 'Media', 'MNG', 'Asia'),
 ('Raeapteek', 1422, 'CAT14', 'Medical', 'EST', 'Europe'),
 ('Bochnia Salt Mine', 1248, 'CAT15', 'Mining', 'POL', 'Europe'),
 ('Bogatyr Access Komir', 1913, 'CAT15', 'Mining', 'KAZ', 'Asia'),
 ('Halco Mining', 1962, 'CAT15', 'Mining', 'GIN', 'Africa'),
 ('Pos Malaysia', 1800, 'CAT16', 'Postal Service', 'MYS', 'Asia'),
 ('NamPost', 1814, 'CAT16', 'Postal Service', 'NAM', 'Africa'),
 ('CTT-Correios de Portugal SA', 1520, 'CAT16', 'Postal Service', 'PRT', 'Europe'),
 ('Posten Norge', 1647, 'CAT16', 'Postal Service', 'NOR', 'Europe'),
 ('Singapore Post', 1819, 'CAT16', 'Postal Service', 'SGP', 'Asia'),
 ('Correios da Guiné-Bissau', 1973, 'CAT16', 'Postal Service', 'GNB', 'Africa'),
 ('La Poste du Togo', 1883, 'CAT16', 'Postal Service', 'TGO', 'Africa'),
 ('Correios de Cabo Verde', 1849, 'CAT16', 'Postal Service', 'CPV', 'Africa'),
 ('National Post Office', 1922, 'CAT16', 'Postal Service', 'RWA', 'Africa'),
 ('Australia Post', 1809, 'CAT16', 'Postal Service', 'AUS', 'Oceania'),
 ('La Poste Tunisienne', 1847, 'CAT16', 'Postal Service', 'TUN', 'Africa'),
 ('Íslandspóstur', 1776, 'CAT16', 'Postal Service', 'ISL', 'Europe'),
 ('Pošta Crne Gore', 1841, 'CAT16', 'Postal Service', 'MNE', 'Europe'),
 ('ZamPost', 1896, 'CAT16', 'Postal Service', 'ZMB', 'Africa'),
 ('La Poste', 1945, 'CAT16', 'Postal Service', 'CIV', 'Africa'),
 ('Mauritius Post', 1772, 'CAT16', 'Postal Service', 'MUS', 'Africa'),
 ("Hudson's Bay Company", 1670, 'CAT17', 'Retail', 'CAN', 'North America'),
 ('Hua Ho Department Store', 1947, 'CAT17', 'Retail', 'BRN', 'Asia'),
 ('M.H. Alshaya Co.', 1890, 'CAT17', 'Retail', 'KWT', 'Asia'),
 ('BMMI', 1883, 'CAT17', 'Retail', 'BHR', 'Asia'),
 ('KT Corporation', 1885, 'CAT18', 'Telecommunications', 'KOR', 'Asia'),
 ('ALBtelecom', 1912, 'CAT18', 'Telecommunications', 'ALB', 'Europe'),
 ('Çemberlitaş Hamamı', 1584, 'CAT19', 'Tourism & Hotels', 'TUR', 'Asia'),
 ('Gasthof Sternen', 1230, 'CAT19', 'Tourism & Hotels', 'CHE', 'Europe'),
 ('Gostilna Gastuž', 1467, 'CAT19', 'Tourism & Hotels', 'SVN', 'Europe'),
 ('Rose Hall', 1770, 'CAT19', 'Tourism & Hotels', 'JAM', 'North America'),
 ('Yemenia Airways', 1962, 'CAT2', 'Aviation & Transport', 'YEM', 'Asia'),
 ('Azerbaijan Caspian Shipping Company', 1858, 'CAT2', 'Aviation & Transport', 'AZE', 'Asia'),
 ('National Railroad of Honduras', 1870, 'CAT2', 'Aviation & Transport', 'HND', 'North America'),
 ('Air Seychelles', 1977, 'CAT2', 'Aviation & Transport', 'SYC', 'Asia'),
 ('Vietnam Railways', 1881, 'CAT2', 'Aviation & Transport', 'VNM', 'Asia'),
 ('Air Burkina', 1967, 'CAT2', 'Aviation & Transport', 'BFA', 'Africa'),
 ('Ethio-Djibouti Railways', 1901, 'CAT2', 'Aviation & Transport', 'DJI', 'Africa'),
 ('Guinea Ecuatorial Airlines', 1996, 'CAT2', 'Aviation & Transport', 'GNQ', 'Africa'),
 ('Société nationale des Chemins de fer du Congo', 1889, 'CAT2', 'Aviation & Transport', 'COD', 'Africa'),
 ('Cubana de Aviación', 1929, 'CAT2', 'Aviation & Transport', 'CUB', 'North America'),
 ('Beira Railroad Corporation', 1892, 'CAT2', 'Aviation & Transport', 'MOZ', 'Africa'),
 ('Myanmar National Airlines', 1948, 'CAT2', 'Aviation & Transport', 'MMR', 'Asia'),
 ('Air Madagascar', 1962, 'CAT2', 'Aviation & Transport', 'MDG', 'Africa'),
 ('Dakar–Niger Railway', 1924, 'CAT2', 'Aviation & Transport', 'SEN', 'Africa'),
 ('Tashi Group', 1959, 'CAT2', 'Aviation & Transport', 'BTN', 'Asia'),
 ('National Port Authority', 1921, 'CAT2', 'Aviation & Transport', 'LBR', 'Africa'),
 ('Egyptian National Railways', 1854, 'CAT2', 'Aviation & Transport', 'EGY', 'Africa'),
 ("Kim Chong-t'ae Electric Locomotive Works", 1945, 'CAT2', 'Aviation & Transport', 'PRK', 'Asia'),
 ('Swazi Rail', 1963, 'CAT2', 'Aviation & Transport', 'SWZ', 'Africa'),
 ('Bank of New Zealand', 1861, 'CAT3', 'Banking & Finance', 'NZL', 'Oceania'),
 ('Development Bank of the Central African States', 1975, 'CAT3', 'Banking & Finance', 'COG', 'Africa'),
 ('Stanbic Bank Uganda Limited', 1906, 'CAT3', 'Banking & Finance', 'UGA', 'Africa'),
 ('Central Bank of the Comoros', 1981, 'CAT3', 'Banking & Finance', 'COM', 'Africa'),
 ('Bank of Cyprus', 1899, 'CAT3', 'Banking & Finance', 'CYP', 'Europe'),
 ('National Bank of Ethiopia', 1906, 'CAT3', 'Banking & Finance', 'ETH', 'Africa'),
 ('BGFIBank Group', 1971, 'CAT3', 'Banking & Finance', 'GAB', 'Africa'),
 ('Andbank', 1930, 'CAT3', 'Banking & Finance', 'AND', 'Europe'),
 ('Bank of Georgia', 1903, 'CAT3', 'Banking & Finance', 'GEO', 'Asia'),
 ('Piraeus Bank', 1606, 'CAT3', 'Banking & Finance', 'GRC', 'Europe'),
 ('Standard Chartered Zimbabwe', 1892, 'CAT3', 'Banking & Finance', 'ZWE', 'Africa'),
 ('Arab Bank', 1930, 'CAT3', 'Banking & Finance', 'JOR', 'Asia'),
 ('KCB Group Limited', 1896, 'CAT3', 'Banking & Finance', 'KEN', 'Africa'),
 ('National Bank of Cambodia', 1954, 'CAT3', 'Banking & Finance', 'KHM', 'Asia'),
 ('Bank Audi', 1830, 'CAT3', 'Banking & Finance', 'LBN', 'Asia'),
 ('Umma Bank', 1907, 'CAT3', 'Banking & Finance', 'LBY', 'Africa'),
 ('1st National Bank of St Lucia', 1938, 'CAT3', 'Banking & Finance', 'LCA', 'North America'),
 ('National Bank of Liechtenstein', 1861, 'CAT3', 'Banking & Finance', 'LIE', 'Europe'),
 ('Central Bank of Lesotho', 1978, 'CAT3', 'Banking & Finance', 'LSO', 'Africa'),
 ('Attijariwafa Bank', 1904, 'CAT3', 'Banking & Finance', 'MAR', 'Africa'),
 ('European Trust Company', 1991, 'CAT3', 'Banking & Finance', 'VUT', 'Oceania'),
 ('HSBC Bank Malta', 1882, 'CAT3', 'Banking & Finance', 'MLT', 'Europe'),
 ('Central Bank of Mauritania', 1973, 'CAT3', 'Banking & Finance', 'MRT', 'Africa'),
 ('First Bank of Nigeria', 1894, 'CAT3', 'Banking & Finance', 'NGA', 'Africa'),
 ('Nepal Bank Limited', 1937, 'CAT3', 'Banking & Finance', 'NPL', 'Asia'),
 ('National Bank of Panama', 1904, 'CAT3', 'Banking & Finance', 'PAN', 'North America'),
 ('Casa Nacional de Moneda', 1565, 'CAT3', 'Banking & Finance', 'PER', 'South America'),
 ('Bank of Khartoum', 1913, 'CAT3', 'Banking & Finance', 'SDN', 'Africa'),
 ('Rokel Commercial Bank', 1917, 'CAT3', 'Banking & Finance', 'SLE', 'Africa'),
 ('HSBC El Salvador', 1891, 'CAT3', 'Banking & Finance', 'SLV', 'North America'),
 ('Ivory Bank', 1994, 'CAT3', 'Banking & Finance', 'SSD', 'Africa'),
 ('Central Bank of São Tomé and Príncipe', 1975, 'CAT3', 'Banking & Finance', 'STP', 'Africa'),
 ('Bank of the Province of Buenos Aires', 1822, 'CAT3', 'Banking & Finance', 'ARG', 'South America'),
 ('Bank of Taiwan', 1897, 'CAT3', 'Banking & Finance', 'TWN', 'Asia'),
 ('Belize Bank', 1902, 'CAT3', 'Banking & Finance', 'BLZ', 'North America'),
 ('Banco Nacional de Bolivia', 1871, 'CAT3', 'Banking & Finance', 'BOL', 'South America'),
 ('Banque Internationale pour la Centrafrique', 1946, 'CAT3', 'Banking & Finance', 'CAF', 'Africa'),
 ('St. Peter Stifts Kulinarium', 803, 'CAT4', 'Cafés, Restaurants & Bars', 'AUT', 'Europe'),
 ("Sean's Bar", 900, 'CAT4', 'Cafés, Restaurants & Bars', 'IRL', 'Europe'),
 ("Ma Yu Ching's Bucket Chicken House", 1153, 'CAT4', 'Cafés, Restaurants & Bars', 'CHN', 'Asia'),
 ('Cafe Brasilero', 1877, 'CAT4', 'Cafés, Restaurants & Bars', 'URY', 'South America'),
 ('Café Abu Salem', 1914, 'CAT4', 'Cafés, Restaurants & Bars', 'ISR', 'Asia'),
 ('Bakdash', 1885, 'CAT4', 'Cafés, Restaurants & Bars', 'SYR', 'Asia'),
 ('House of Habib', 1841, 'CAT5', 'Conglomerate', 'PAK', 'Asia'),
 ('B.Grimm Group', 1878, 'CAT5', 'Conglomerate', 'THA', 'Asia'),
 ('Salam International Investment Limited', 1952, 'CAT5', 'Conglomerate', 'QAT', 'Asia'),
 ('Kongō Gumi', 578, 'CAT6', 'Construction', 'JPN', 'Asia'),
 ('House of Alireza', 1845, 'CAT6', 'Construction', 'SAU', 'Asia'),
 ('Fiskars', 1649, 'CAT7', 'Consumer Goods', 'FIN', 'Europe'),
 ('Tutunski kombinat Prilep', 1873, 'CAT7', 'Consumer Goods', 'MKD', 'Europe'),
 ('Petrodvorets Watch Factory', 1721, 'CAT7', 'Consumer Goods', 'RUS', 'Europe'),
 ('Arsenal AD', 1878, 'CAT8', 'Defense', 'BGR', 'Europe'),
 ('Famae', 1811, 'CAT8', 'Defense', 'CHL', 'South America'),
 ('Pindad', 1808, 'CAT8', 'Defense', 'IDN', 'Asia'),
 ('Yerevan Ararat Brandy-Wine-Vodka Factory', 1877, 'CAT9', 'Distillers, Vintners, & Breweries', 'ARM', 'Asia'),
 ('Olivaria Brewery', 1864, 'CAT9', 'Distillers, Vintners, & Breweries', 'BLR', 'Europe'),
 ('Destileria Limtuaco', 1853, 'CAT9', 'Distillers, Vintners, & Breweries', 'PHL', 'Asia'),
 ('Cēsu Alus', 1590, 'CAT9', 'Distillers, Vintners, & Breweries', 'LVA', 'Europe'),
 ('Mousel', 1511, 'CAT9', 'Distillers, Vintners, & Breweries', 'LUX', 'Europe'),
 ('Ursus Breweries', 1878, 'CAT9', 'Distillers, Vintners, & Breweries', 'ROU', 'Europe'),
 ('Gubernija', 1665, 'CAT9', 'Distillers, Vintners, & Breweries', 'LTU', 'Europe'),
 ('Mount Gay Rum', 1703, 'CAT9', 'Distillers, Vintners, & Breweries', 'BRB', 'North America'),
 ('Asmara Brewery', 1939, 'CAT9', 'Distillers, Vintners, & Breweries', 'ERI', 'Africa'),
 ('Apatin Brewery', 1756, 'CAT9', 'Distillers, Vintners, & Breweries', 'SRB', 'Europe'),
 ('Sarajevska Pivara', 1864, 'CAT9', 'Distillers, Vintners, & Breweries', 'BIH', 'Europe'),
 ('Florida Ice and Farm Company', 1908, 'CAT9', 'Distillers, Vintners, & Breweries', 'CRI', 'North America'),
 ('Zwack', 1790, 'CAT9', 'Distillers, Vintners, & Breweries', 'HUN', 'Europe'),
 ('Rhum Barbancourt', 1862, 'CAT9', 'Distillers, Vintners, & Breweries', 'HTI', 'North America'),
 ('Brarudi', 1955, 'CAT9', 'Distillers, Vintners, & Breweries', 'BDI', 'Africa'),
 ('Staffelter\xa0Hof Winery', 862, 'CAT9', 'Distillers, Vintners, & Breweries', 'DEU', 'Europe'),
 ('Affligem Brewery', 1074, 'CAT9', 'Distillers, Vintners, & Breweries', 'BEL', 'Europe'),
 ('House of Angostura', 1830, 'CAT9', 'Distillers, Vintners, & Breweries', 'TTO', 'North America'),
 ('Pivovar Broumov', 1348, 'CAT9', 'Distillers, Vintners, & Breweries', 'CZE', 'Europe'),
 ('Tanzania Breweries Limited', 1933, 'CAT9', 'Distillers, Vintners, & Breweries', 'TZA', 'Africa'),
 ('The Brand Brewery', 1340, 'CAT9', 'Distillers, Vintners, & Breweries', 'NLD', 'Europe'),
 ('Flor de Caña', 1890, 'CAT9', 'Distillers, Vintners, & Breweries', 'NIC', 'North America')]

### 8. Counting categories by continent

Having businesses joined to categories and countries together means we can ask questions about both these things together. For example, which are the most common categories for the oldest businesses on each continent?

In [20]:
%%sql SELECT   cn.continent, c.category, COUNT(c.category) as count
FROM categories as c
JOIN businessess as b
ON b.category_code = c.category_code
JOIN countries as cn
ON b.country_code = cn.country_code
GROUP BY cn.continent, c.category
ORDER BY count DESC;

 * postgresql+psycopg2://postgres:***@localhost:5432/Oldest Business
56 rows affected.

[('Africa', 'Banking & Finance', 17),
 ('Europe', 'Distillers, Vintners, & Breweries', 12),
 ('Africa', 'Aviation & Transport', 10),
 ('Africa', 'Postal Service', 9),
 ('Europe', 'Manufacturing & Production', 8),
 ('Asia', 'Aviation & Transport', 7),
 ('Asia', 'Banking & Finance', 6),
 ('Europe', 'Banking & Finance', 5),
 ('North America', 'Distillers, Vintners, & Breweries', 5),
 ('North America', 'Banking & Finance', 4),
 ('Africa', 'Media', 4),
 ('Europe', 'Postal Service', 4),
 ('Asia', 'Manufacturing & Production', 3),
 ('Asia', 'Cafés, Restaurants & Bars', 3),
 ('Europe', 'Consumer Goods', 3),
 ('Asia', 'Conglomerate', 3),
 ('Asia', 'Energy', 3),
 ('Asia', 'Retail', 3),
 ('South America', 'Banking & Finance', 3),
 ('Africa', 'Distillers, Vintners, & Breweries', 3),
 ('Africa', 'Agriculture', 3),
 ('South America', 'Food & Beverages', 2),
 ('Asia', 'Postal Service', 2),
 ('Oceania', 'Banking & Finance', 2),
 ('South America', 'Manufacturing & Production', 2),
 ('Asia', 'Distillers, Vintners, & Breweries', 2),
 ('Europe', 'Tourism & Hotels', 2),
 ('Asia', 'Food & Beverages', 2),
 ('North America', 'Aviation & Transport', 2),
 ('Asia', 'Construction', 2),
 ('Europe', 'Cafés, Restaurants & Bars', 2),
 ('North America', 'Retail', 1),
 ('North America', 'Food & Beverages', 1),
 ('South America', 'Cafés, Restaurants & Bars', 1),
 ('North America', 'Tourism & Hotels', 1),
 ('Asia', 'Agriculture', 1),
 ('Africa', 'Mining', 1),
 ('Asia', 'Defense', 1),
 ('Europe', 'Media', 1),
 ('Asia', 'Tourism & Hotels', 1),
 ('Africa', 'Manufacturing & Production', 1),
 ('Asia', 'Mining', 1),
 ('North America', 'Agriculture', 1),
 ('Africa', 'Energy', 1),
 ('Europe', 'Medical', 1),
 ('Europe', 'Mining', 1),
 ('Europe', 'Telecommunications', 1),
 ('Asia', 'Telecommunications', 1),
 ('North America', 'Media', 1),
 ('North America', 'Manufacturing & Production', 1),
 ('Asia', 'Media', 1),
 ('Europe', 'Defense', 1),
 ('Africa', 'Food & Beverages', 1),
 ('South America', 'Defense', 1),
 ('Oceania', 'Postal Service', 1),
 ('Europe', 'Agriculture', 1)]

### 9. Filtering counts by continent and category

Combining continent and business category led to a lot of results. It's difficult to see what is important. To trim this down to a manageable size, let's restrict the results to only continent/category pairs with a high count.

In [21]:
%%sql SELECT   cn.continent, c.category, COUNT(c.category) as count
FROM categories as c
JOIN businessess as b
ON b.category_code = c.category_code
JOIN countries as cn
ON b.country_code = cn.country_code
GROUP BY cn.continent, c.category
HAVING COUNT(c.category) > 5
ORDER BY count DESC;

 * postgresql+psycopg2://postgres:***@localhost:5432/Oldest Business
7 rows affected.

[('Africa', 'Banking & Finance', 17),
 ('Europe', 'Distillers, Vintners, & Breweries', 12),
 ('Africa', 'Aviation & Transport', 10),
 ('Africa', 'Postal Service', 9),
 ('Europe', 'Manufacturing & Production', 8),
 ('Asia', 'Aviation & Transport', 7),
 ('Asia', 'Banking & Finance', 6)]